*,
::before,
::after {
  margin: 0;
  background-origin: border-box;
  padding: 0;
}

html,
body {
  height: 100%;
}

.mydiv {
  width: 100%;
  height: 50%;
  color: black;
  font-weight: bold;
  animation: myanimation 10s infinite;
  z-index: -5;
  opacity: 0.7;
}


@keyframes myanimation {
  0% {
    background-color: rgb(177, 133, 68);
  }

  25% {
    background-color: rgb(119, 82, 40);
  }

  50% {
    background-color: #7c6336;
  }

  75% {
    background-color: #966f5df3;
  }

  100% {
    background-color: rgba(252, 192, 136, 0.479);
  }
}



.bg-image {
  /* Full height */
  height: 50%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Images used */
.img1 {
  background-image: url("../images/cordorganizer.jpg");
  filter: blur(5px);
}

.img2 {
  background-image: url("");
}

.img3 {
  background-image: url("");
}

.img4 {
  background-image: url("");
}

.img5 {
  background-image: url("");
}

.img6 {
  background-image: url("");
}

/* .img7 { background-image: url("../Home/assets/images/"); } */

/* Position text in the middle of the page/image */
.bg-text {
  /* background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4); */
  color: white;
  font-weight: bold;
  font-size: 80px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 300px;
  padding: 20px;
  text-align: center;
}
.bry {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
img {
  height: 100%;
  width: 100%;
}

.hed1 {
  position: absolute;
  font-size: 5em;
  top: 20%;
  left: 15%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.hed2 {
  position: absolute;
  font-size: 5em;
  top: 20%;
  right: 5%;
  font-family: Arial, Helvetica, sans-serif;
}
.para {
  border: 2px solid transparent;
  border-radius: 10px;
  position: absolute;
  top: 55%;
  left: 5%;
  word-spacing: 0.2em;
  text-justify: auto;
  text-align: center;
  padding: 2%;
  justify-content: center;
  align-items: center;
  background-color: rgba(3, 3, 3, 0.7);
  height: 40%;
  width: 50%;
  color: white;
  
}
.about::first-letter {
  color: burlywood;
  font-size: 2em;
  font-weight: bolder;
  text-align: center;
}
.about {
  font-size: large;
  text-align: justify;
}

.para1{
  border: 2px solid transparent;
  position: absolute;
  border-radius: 10px;
  top: 55%;
  right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  width: 35%;
  color: white;
}


/*Footer*/

.container-fluid {
  width: 100%;
  padding: 15px 0;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -15px 0;
}

.text-center {
  text-align: center !important;
}

.col-md-3,
.col-md-6,
.col-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.footer-title {
  text-align: center;
}

h5 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
}

.text-justify {
  text-align: justify !important;
}




footer {
  background-color: #333333;
  
  background-position: top;
  color: #EAEAED;
  padding-top: 25px;
  width: 100%;
}

.fmenu a {
  text-align: left;
  background-color: transparent;
  color: #EAEAED;
  display: block;

  font-size: 13px;
  text-decoration: none;
  letter-spacing: .2em;
}

.fmenu a:hover {
  color: #171717;
  background-color: #EAEAED;
  font-weight: bold;
}

hr {
  border: .5px solid #EAEAED;
}

footer a {
  color: #EAEAED;
}

.footer-copyright {
  font-size: 13px;

}

.footer-title {
  text-align: center;

  font-size: 17px;
}

.footer-text {

  font-size: 12px;
}

.footer-alt {

  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size: 14px;
}

footer h6 {
  font-size: 12px;
}

/*Socials*/
.social a {
  font-size: 2em;
  padding: 15px;
}

.fa-facebook {
  color: #3B5998;
}

.fa-twitter {
  color: #00ACED;
}

.fa-instagram {
  color: #517FA4;
}

.fa-youtube {
  color: #BB0000;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-youtube:hover {
  color: #fff;
}

.slideshow-container {
  width: 100%;
  height: 50vh;
  margin-bottom: 25px;
  border: 1px solid black;

}

#img-ht {
  height: 50vh;
}

footer {
  padding-top: 35px;
}

.fmenu a {
  font-size: 12px;
  text-align: center;
}

.footer-text,
.footer-alt {
  font-size: 12px;
}

.footer-copyright,
footer h6 {
  font-size: 11px;
}

.footer-title {
  font-size: 15px;
}


/* MEDIAS */
@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .hed1 {
    position: absolute;
    font-size: 3em;
    top: 38%;
    left: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
  }
  
  .hed2 {
    position: absolute;
    font-size: 3em;
    top: 38%;
    right: 15%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
  }
  .bg-text {
    /* background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4); */
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 300px;
    padding: 20px;
    text-align: center;
  }
  

}

@media (max-width: 650px) {

  .hed1 {
    position: absolute;
    font-size: 2em;
    top: 43%;
    left: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
  }
  
  .hed2 {
    position: absolute;
    font-size: 2em;
    top: 43%;
    right: 6%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
  }
  .bg-text {
    /* background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4); */
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 300px;
    padding: 20px;
    text-align: center;
  }

  .para {
    border: 2px solid transparent;
    border-radius: 10px;
    position: absolute;
    top: 55%;
    left: 5%;
    word-spacing: normal;
    text-justify: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(3, 3, 3, 0.7);
    height: 40%;
    width: 50%;
    color: white;
    font-size: 0.6em;
    padding: 2%;
  }
  .about::first-letter {
    color: burlywood;
    font-size: 1.5em;
    font-weight: bolder;
  }

  .para h2 {
    font-size: 1.5em;
    padding: 1em;
  }
  .about {
    font-size: 1em;
  }

  footer {
    background-color: #333333;
    
    background-position: top;
    color: #EAEAED;
    padding-top: 25px;
    width: 100%;
  }
}

/* Portrait*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {




  .hed1 {
    position: absolute;
    font-size: 4em;
    top: 38%;
    left: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
  }
  
  .hed2 {
    position: absolute;
    font-size: 4em;
    top: 38%;
    right: 15%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
  }
  .bg-text {
    /* background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4); */
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 450px;
    padding: 20px;
    text-align: center;
  }

  .para h2 {
    font-size: 2.5em;
    padding: 0.5em;
  }

  .para {
    border: 2px solid transparent;
    border-radius: 10px;
    position: absolute;
    top: 55%;
    left: 5%;
    word-spacing: normal;
    text-justify: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(3, 3, 3, 0.7);
    height: 40%;
    width: 50%;
    color: white;
    font-size: 1.4em;
    padding: 2%;
  }
  .about {
    font-size: 1em;
  }
}