/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-width : 419px) {

	header {
		background-color: transparent;
		display: inline-block;
		position: absolute;
		top: 1%;
		left: 3%;
		z-index: 2;
		height: 80px;
		width: 80px;
	}
	.hex,
	.hex2,
	.hex3,
	.hex4,
	.hex5,
	.hex6,
	.hex7,
	.hex8,
	.hex9,
	.hex10,
	.hex11,
	.hex12 {
		display: flex;
		position: absolute;
		width: 4em;
		height: 6em;
		background-color: rgba(0, 0, 0, 0.438);
		clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	}

	.hex {
		position: absolute;
		top: 5%;
	}

	.hex2 {
		position: absolute;
		top: 25%;
		left: 15%;
	}

	.hex3 {
		position: absolute;
		bottom: 30%;
		left: 15%;
	}

	.hex4 {
		position: absolute;
		bottom: 30%;
		right: 15%;
	}

	.hex5 {
		position: absolute;
		top: 25%;
		right: 15%;
	}

	.hex6 {
		position: absolute;
		bottom: 10%;

	}

	.hex7 {
		position: absolute;
		top: 25%;
		left: 19%;
		z-index: -1;
	}


	.hex8 {
		position: absolute;
		bottom:	10%;
		right: 37%;
		z-index: -1;
	}

	.hex9 {
		position: absolute;
		top: 25%;
		right: 11%;
		z-index: -1;
	}

	.hex10 {
		position: absolute;
		bottom: 30%;
		right: 11%;
		z-index: -1;
	}

	.hex11 {
		position: absolute;
		bottom: 30%;
		left: 19%;
		z-index: -1;
	}

	.hex12 {
		position: absolute;
		top: 5%;
		left: 44.5%;
		z-index: -1;
	}

	#cn-button,
	#cn-wrapper {
    position: absolute;
    top: 26%
	}

	.csstransforms .opened-nav {
		border-radius: 50%;
		opacity: 1;
		transition: all .3s ease-in;
		transform: scale(0.7);
		pointer-events: auto;
	}

	.component {
		position: relative;
		margin-bottom: 3em;
		height: 15em;
		background: rgba(0, 0, 0, 0.05);
		font-family: 'Lato', Arial, sans-serif;
	}
	
	
	
	.cn-button {
		position: absolute;
		top: 100%;
		left: 50%;
		z-index: 11;
		margin-top: -2.25em;
		margin-left: -2.25em;
		padding-top: 0em;
		width: 4em;
		height: 4em;
		border: 2px dotted green;
		border-radius: 50%;
		background: none;
		background-color: #fff;
		color: #37a5d8;
		text-align: center;
		font-weight: 700;
		font-size: 0.6em;
		text-transform: uppercase;
		cursor: pointer;
	}
	

	
}


@media(min-width:768px) and (max-width: 991px) {

	.hex,
	.hex2,
	.hex3,
	.hex4,
	.hex5,
	.hex6,
	.hex7,
	.hex8,
	.hex9,
	.hex10,
	.hex11,
	.hex12 {
		display: flex;
		position: absolute;
		width: 10em;
		height: 11.5em;
		background-color: rgba(0, 0, 0, 0.438);
		clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	}

	.hex {
		position: absolute;
		top: 10%;
	}

	.hex2 {
		position: absolute;
		top: 30%;
		left: 15%;
	}

	.hex3 {
		position: absolute;
		bottom: 30%;
		left: 15%;
	}

	.hex4 {
		position: absolute;
		bottom: 30%;
		right: 15%;
	}

	.hex5 {
		position: absolute;
		top: 30%;
		right: 15%;
	}

	.hex6 {
		position: absolute;
		bottom: 10%;

	}

	
	.hex7 {
		position: absolute;
		top: 30%;
		left: 19%;
		z-index: -1;
	}


	.hex8 {
		position: absolute;
		bottom:	10%;
		right: 35%;
		z-index: -1;
	}

	.hex9 {
		position: absolute;
		top: 30%;
		right: 11%;
		z-index: -1;
	}

	.hex10 {
		position: absolute;
		bottom: 30%;
		right: 11%;
		z-index: -1;
	}

	.hex11 {
		position: absolute;
		bottom: 30%;
		left: 19%;
		z-index: -1;
	}

	.hex12 {
		position: absolute;
		top: 10%;
		left: 44.5%;
		z-index: -1;
	}

	#cn-button,
	#cn-wrapper {
    position: absolute;
    top: 39%
	}

	
.component {
    position: relative;
    margin-bottom: 3em;
    height: 15em;
    background: rgba(0, 0, 0, 0.05);
    font-family: 'Lato', Arial, sans-serif;
}



.cn-button {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 11;
    margin-top: -2.25em;
    margin-left: -2.25em;
    padding-top: 0em;
    width: 4em;
    height: 4em;
    border: 2px dotted green;
    border-radius: 50%;
    background: none;
    background-color: #fff;
    color: #37a5d8;
    text-align: center;
    font-weight: 700;
    font-size: 0.9em;
    text-transform: uppercase;
    cursor: pointer;
}

.csstransforms .cn-wrapper {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 10;
    margin-top: -13em;
    margin-left: -13.5em;
    width: 27em;
    height: 27em;
    border-radius: 50%;
    background: transparent;
    opacity: 0;
    transition: all .3s ease 0.3s;
    transform: scale(0.1);
    pointer-events: none;
    overflow: hidden;
}

/*cover to prevent extra space of anchors from being clickable*/
.csstransforms .cn-wrapper:after {
    content: ".";
    display: block;
    font-size: 2em;
    width: 6.2em;
    height: 6.2em;
    position: absolute;
    left: 50%;
    margin-left: -3.1em;
    top: 50%;
    margin-top: -3.1em;
    border-radius: 50%;
    z-index: 10;
    color: transparent;
}

.csstransforms .opened-nav {
    border-radius: 50%;
    opacity: 1;
    transition: all .3s ease-in;
    transform: scale(0.65);
    pointer-events: auto;
}

.csstransforms .cn-wrapper li {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    margin-top: -1.3em;
    margin-left: -10em;
    width: 10em;
    height: 10em;
    font-size: 1.5em;
    transition: all .3s ease;
    transform: rotate(76deg) skew(60deg);
    transform-origin: 100% 100%;
    pointer-events: none;
}

.csstransforms .cn-wrapper li a {
    position: absolute;
    right: -7.25em;
    bottom: -7.25em;
    display: block;
    width: 14.5em;
    height: 14.5em;
    border-radius: 70%;
    background: transparent;
    background: radial-gradient(transparent 40%, #383838 50%);
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    line-height: 1.3;

    transform: skew(-60deg) rotate(-75deg) scale(1);

    backface-visibility: hidden;
    pointer-events: auto;
}

.csstransforms .cn-wrapper li a span {
    position: relative;
    top: 1.8em;
    display: block;
    font-size: 0.5em;
    font-weight: 700;
    text-transform: uppercase;
}

.csstransforms .cn-wrapper li a:hover,
.csstransforms .cn-wrapper li a:active,
.csstransforms .cn-wrapper li a:focus {
    background: radial-gradient(transparent 40%, #cb2fee 60%);
}

.csstransforms .cn-wrapper li a:focus {
    position: fixed;
    /* fix the displacement bug in webkit browsers when using tab key */
}

.csstransforms .opened-nav li {
    transition: all .3s ease .3s;
}

.csstransforms .opened-nav li:first-child {
    transform: rotate(-20deg) skew(60deg);
}

.csstransforms .opened-nav li:nth-child(2) {
    transform: rotate(12deg) skew(60deg);
}

.csstransforms .opened-nav li:nth-child(3) {
    transform: rotate(44deg) skew(60deg);
}

.csstransforms .opened-nav li:nth-child(4) {
    transform: rotate(76deg) skew(60deg);
}

.csstransforms .opened-nav li:nth-child(5) {
    transform: rotate(108deg) skew(60deg);
}

.csstransforms .opened-nav li:nth-child(6) {
    transform: rotate(140deg) skew(60deg);
}

.csstransforms .opened-nav li:nth-child(7) {
    transform: rotate(172deg) skew(60deg);
}

.no-csstransforms .cn-wrapper {
    overflow: hidden;
    margin: 10em auto;
    padding: .5em;
    text-align: center;
}

.no-csstransforms .cn-wrapper ul {
    display: inline-block;
}

.no-csstransforms .cn-wrapper li {
    float: left;
    width: 5em;
    height: 5em;
    background-color: #fff;
    text-align: center;
    font-size: 1em;
    line-height: 5em;
}

.no-csstransforms .cn-wrapper li a {
    display: block;
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
}

.no-csstransforms .cn-wrapper li a:hover,
.no-csstransforms .cn-wrapper li a:active,
.no-csstransforms .cn-wrapper li a:focus {
    background-color: #f8f8f8;
}

.no-csstransforms .cn-wrapper li.active a {
    background-color: #6F325C;
    color: #fff;
}

.no-csstransforms .cn-button {
    display: none;
}

}

@media(min-width:1024px) and (max-width: 1439px) {

	.hex,
	.hex2,
	.hex3,
	.hex4,
	.hex5,
	.hex6,
	.hex7,
	.hex8,
	.hex9,
	.hex10,
	.hex11,
	.hex12 {
		display: flex;
		position: absolute;
		width: 13em;
		height: 15em;
		background-color: rgba(0, 0, 0, 0.438);
		clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	}


	.hex {
		position: absolute;
		top: 5%;
	}

	.hex2 {
		position: absolute;
		top: 25%;
		left: 20%;
	}

	.hex3 {
		position: absolute;
		bottom: 25%;
		left: 20%;
	}

	.hex4 {
		position: absolute;
		bottom: 25%;
		right: 20%;
	}

	.hex5 {
		position: absolute;
		top: 25%;
		right: 20%;
	}

	.hex6 {
		position: absolute;
		bottom: 5%;

	}
	.hex7 {
		position: absolute;
		top: 25%;
		left: 24%;
		z-index: -1;
	}


	.hex8 {
		position: absolute;
		bottom:	5%;
		right: 35%;
		z-index: -1;
	}

	.hex9 {
		position: absolute;
		top: 25%;
		right: 16%;
		z-index: -1;
	}

	.hex10 {
		position: absolute;
		bottom: 25%;
		right: 16%;
		z-index: -1;
	}

	.hex11 {
		position: absolute;
		bottom: 25%;
		left: 24%;
		z-index: -1;
	}

	.hex12 {
		position: absolute;
		top: 5%;
		left: 44.5%;
		z-index: -1;
	}

	#cn-button,
	#cn-wrapper {
    position: absolute;
    top: 43%
	}
}

@media(min-width:1440px) {

	.hex {
		position: absolute;
		top: 5%;
	}

	.hex2 {
		position: absolute;
		top: 20%;
		left: 20%;
	}

	.hex3 {
		position: absolute;
		bottom: 20%;
		left: 20%;
	}

	.hex4 {
		position: absolute;
		bottom: 20%;
		right: 20%;
	}

	.hex5 {
		position: absolute;
		top: 20%;
		right: 20%;
	}

	.hex6 {
		position: absolute;
		bottom: 5%;

	}

	.hex7 {
		position: absolute;
		top: 20%;
		left: 21.5%;
		z-index: -1;
	}


	.hex8 {
		position: absolute;
		bottom:	5%;
		right: 41%;
		z-index: -1;
	}

	.hex9 {
		position: absolute;
		top: 20%;
		right: 18.5%;
		z-index: -1;
	}

	.hex10 {
		position: absolute;
		bottom: 20%;
		right: 18.5%;
		z-index: -1;
	}

	.hex11 {
		position: absolute;
		bottom: 20%;
		left: 21.5%;
		z-index: -1;
	}

	.hex12 {
		position: absolute;
		top: 5%;
		left: 44%;
		z-index: -1;
	}
}

/* NAVIGATION */

@media only screen and (max-width: 620px) {
	.no-csstransforms li {
		width: 4em;
		height: 4em;
		line-height: 4em;
	}
}

@media only screen and (max-width: 500px) {
	.no-ccstransforms .cn-wrapper {
		padding: .5em;
	}

	.no-csstransforms .cn-wrapper li {
		width: 4em;
		height: 4em;
		font-size: .9em;
		line-height: 4em;
	}
}

@media only screen and (max-width: 480px) {
	.csstransforms .cn-wrapper {
		font-size: .68em;
	}

	.cn-button {
		font-size: 1em;
	}
}

@media only screen and (max-width:420px) {
	.no-csstransforms .cn-wrapper li {
		width: 100%;
		height: 3em;
		line-height: 3em;
	}
}