* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

header {
	background-color: transparent;
	display: inline-block;
	position: absolute;
	top: 20px;
	left: 40px;
    z-index: 2;
    height: 150px;
    width: 150px;
}



.hexagon-gallery {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    
}


.hex, .hex2, .hex3, .hex4, .hex5, .hex6, .hex7, .hex8, .hex9, .hex10, .hex11, .hex12 {
    display: flex;
    position: absolute;
    width: 225px;
    height: 175px;
    background-color: rgba(0, 0, 0, 0.438);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

/* HEXAGON END */

/* navigation */
* {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    color: #fff;
    background-image: linear-gradient(rgba(62, 85, 121, 0.7), rgba(53, 13, 7, 0.1)),
    url(../images/wood3.jpeg);
    background-position: center;
    
}

.component {
    position: relative;
    margin-bottom: 3em;
    height: 15em;
    background: rgba(0, 0, 0, 0.05);
    font-family: 'Lato', Arial, sans-serif;
}



.cn-button {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 11;
    margin-top: -2.25em;
    margin-left: -2.25em;
    padding-top: 0em;
    width: 4em;
    height: 4em;
    border: 2px dotted green;
    border-radius: 50%;
    background: none;
    background-color: #fff;
    color: #37a5d8;
    text-align: center;
    font-weight: 700;
    font-size: 1.2em;
    text-transform: uppercase;
    cursor: pointer;
}

.csstransforms .cn-wrapper {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 10;
    margin-top: -13em;
    margin-left: -13.5em;
    width: 27em;
    height: 27em;
    border-radius: 50%;
    background: transparent;
    opacity: 0;
    transition: all .3s ease 0.3s;
    transform: scale(0.1);
    pointer-events: none;
    overflow: hidden;
}

/*cover to prevent extra space of anchors from being clickable*/
.csstransforms .cn-wrapper:after {
    content: ".";
    display: block;
    font-size: 2em;
    width: 6.2em;
    height: 6.2em;
    position: absolute;
    left: 50%;
    margin-left: -3.1em;
    top: 50%;
    margin-top: -3.1em;
    border-radius: 50%;
    z-index: 10;
    color: transparent;
}

.csstransforms .opened-nav {
    border-radius: 50%;
    opacity: 1;
    transition: all .3s ease-in;
    transform: scale(1);
    pointer-events: auto;
}

.csstransforms .cn-wrapper li {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    margin-top: -1.3em;
    margin-left: -10em;
    width: 10em;
    height: 10em;
    font-size: 1.5em;
    transition: all .3s ease;
    transform: rotate(76deg) skew(60deg);
    transform-origin: 100% 100%;
    pointer-events: none;
}

.csstransforms .cn-wrapper li a {
    position: absolute;
    right: -7.25em;
    bottom: -7.25em;
    display: block;
    width: 14.5em;
    height: 14.5em;
    border-radius: 70%;
    background: transparent;
    background: radial-gradient(transparent 40%, #383838 50%);
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    line-height: 1.3;

    transform: skew(-60deg) rotate(-75deg) scale(1);

    backface-visibility: hidden;
    pointer-events: auto;
}

.csstransforms .cn-wrapper li a span {
    position: relative;
    top: 1.8em;
    display: block;
    font-size: .5em;
    font-weight: 700;
    text-transform: uppercase;
}

.csstransforms .cn-wrapper li a:hover,
.csstransforms .cn-wrapper li a:active,
.csstransforms .cn-wrapper li a:focus {
    background: radial-gradient(transparent 40%, #cb2fee 60%);
}

.csstransforms .cn-wrapper li a:focus {
    position: fixed;
    /* fix the displacement bug in webkit browsers when using tab key */
}

.csstransforms .opened-nav li {
    transition: all .3s ease .3s;
}

.csstransforms .opened-nav li:first-child {
    transform: rotate(-20deg) skew(60deg);
}

.csstransforms .opened-nav li:nth-child(2) {
    transform: rotate(12deg) skew(60deg);
}

.csstransforms .opened-nav li:nth-child(3) {
    transform: rotate(44deg) skew(60deg);
}

.csstransforms .opened-nav li:nth-child(4) {
    transform: rotate(76deg) skew(60deg);
}

.csstransforms .opened-nav li:nth-child(5) {
    transform: rotate(108deg) skew(60deg);
}

.csstransforms .opened-nav li:nth-child(6) {
    transform: rotate(140deg) skew(60deg);
}

.csstransforms .opened-nav li:nth-child(7) {
    transform: rotate(172deg) skew(60deg);
}

.no-csstransforms .cn-wrapper {
    overflow: hidden;
    margin: 10em auto;
    padding: .5em;
    text-align: center;
}

.no-csstransforms .cn-wrapper ul {
    display: inline-block;
}

.no-csstransforms .cn-wrapper li {
    float: left;
    width: 5em;
    height: 5em;
    background-color: #fff;
    text-align: center;
    font-size: 1em;
    line-height: 5em;
}

.no-csstransforms .cn-wrapper li a {
    display: block;
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
}

.no-csstransforms .cn-wrapper li a:hover,
.no-csstransforms .cn-wrapper li a:active,
.no-csstransforms .cn-wrapper li a:focus {
    background-color: #f8f8f8;
}

.no-csstransforms .cn-wrapper li.active a {
    background-color: #6F325C;
    color: #fff;
}

.no-csstransforms .cn-button {
    display: none;
}

#cn-button,
#cn-wrapper {
    position: absolute;
    top: 45%
}
/* navigation ends */

/* MODAL */
.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    color: white;
}

.myImg:hover {
    opacity: 0.6;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 999;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* footer */
/*Footer*/
footer {
    background-color: #333333;
    /* background-image: url("../images/nightbg.jpeg"); */
    background-position: top;
    color: #EAEAED;
    padding-top: 25px;
    width: 100%;
  }
  
  .fmenu a {
    text-align: center;
    background-color: transparent;
    color: #EAEAED;
    display: block;
  
    font-size: 13px;
    text-decoration: none;
    letter-spacing: .2em;
  }
  
  .fmenu a:hover {
    color: #171717;
    background-color: #EAEAED;
    font-weight: bold;
  }
  
  hr {
    border: .5px solid #EAEAED;
  }
  
  footer a {
    color: #EAEAED;
  }
  
  .footer-copyright {
    font-size: 13px;
  
  }
  
  .footer-title {
    text-align: center;
  
    font-size: 17px;
  }
  
  .footer-text {
  
    font-size: 12px;
  }
  
  .footer-alt {
  
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-size: 14px;
  }
  
  footer h6 {
    font-size: 12px;
  }
  
  /*Socials*/
  .social a {
    font-size: 2em;
    padding: 15px;
  }
  
  .fa-facebook {
    color: #3B5998;
  }
  
  .fa-twitter {
    color: #00ACED;
  }
  
  .fa-instagram {
    color: #517FA4;
  }
  
  .fa-youtube {
    color: #BB0000;
  }
  
  .fa-facebook:hover,
  .fa-twitter:hover,
  .fa-instagram:hover,
  .fa-youtube:hover {
    color: #fff;
  }
