
.gallery img{
    width:179px;
    cursor:pointer;
}

#slider {
    width:100%;
    background:#191919;
    padding: 0;

    margin:0 auto;
    overflow:hidden;
    box-sizing:border-box;
}


#slider .fs-icon {
    top:6px;
    right:6px;
    width:60px;
    height:26px;
    background: rgba(0,0,0,0.2);
    z-index:2;
    color:white;
    text-align:center;
    text-shadow:0 0 3px black;
    font:bold 18px/36px arial;
    border-radius:2px;
    opacity:0;
    -webkit-transition:opacity 0.8s;
    transition:opacity 0.8s;
}

#slider .slider-inner:hover .fs-icon,
#slider.fullscreen .fs-icon {
    opacity: 1;
}

#slider .fs-icon::before {      
    content:"EXPAND";
    display:block;
}

#slider.fullscreen .fs-icon::before {
    content:"+";
    display:block;
    font-weight:bold;
    font-size:3em;
    transform: rotate(-45deg);
}

#slider .slider-inner {
    /*max-width:700px;*/
    margin:0 auto;/*center-aligned */
    font-size:0px;
    position:relative;
    box-sizing:border-box;
    padding-bottom:100px!important;
}

#slider.fullscreen .slider-inner {
    width:98%; /* 100% will cause a big top gap issue in iPhone*/
    max-width:900px;
}

#slider ul {
    position:relative;
    list-style:none;
    padding:0;
    box-sizing:border-box;

    overflow:visible!important; /*For showing captions outside the slider when transitionType is "fade". */
}

#slider li {
    
    width:100%;
    height:100%;
    top:0;
    left:0;
    position: absolute;
    font-size:12px;
    list-style:none;
    margin:0;
    padding:0;
    opacity:0;
    /* overflow:hidden; Comment it out to show the caption */
    box-sizing:border-box;

    margin-bottom:100px!important;
}

#slider li.ns-show {
    opacity:1;
}



/* --------- slider image ------- */  
#slider .ns-img {
    background-size:contain;
    margin-top: 2.5%;
    cursor:default;
    display:block;
    position: absolute;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:center center;
}


/*---------- Captions -------------------*/
#slider .caption {
    position:absolute;
    top:105%;
    padding:0 40px;
    margin:auto;
    width:100%;
    text-align:center;
    font-family:sans-serif;
    font-size:14px;
    color:#ccc;
    box-sizing:border-box;    
}


/* ---------Arrow buttons ------- */   
/* The arrow button id should be: slider id + ("-prev", "-next", and "-pause-play") */ 
#slider-pause-play { display:none;}  

#slider-prev, #slider-next
{
    position: absolute;
    display:inline-block;
    width:42px;
    height:56px;
    line-height:56px;
    top: 50%; 
    margin-top:-28px;
    background-color:rgba(0,0,0,0.4);
    background-color:#ccc;
    backface-visibility:hidden;
    color:white;
    overflow:hidden;
    white-space:nowrap;
    -webkit-user-select: none;
    user-select:none;
    border-radius:2px;
    z-index:10;
    opacity:0.3; 
    font-family:sans-serif;   
    font-size:13px;
    cursor:pointer;
    -webkit-transition:all 0.7s;
    transition:all 0.4s;
}

.slider-inner:hover #slider-prev, .slider-inner:hover #slider-next {
    opacity:1;
}


#slider-prev {
    left: -42px; 
}
#slider-next {
    right: -42px;
}

/* arrows */
#slider-prev::before, #slider-next::before {
    position: absolute;
    top: 17px;
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-left: 2px solid white;
    border-top: 2px solid white;
    backface-visibility:hidden;
}

#slider-prev::before {
    -ms-transform:rotate(-45deg);/*IE 9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
    left:16px;
}

#slider-next::before {
    -ms-transform:rotate(135deg);/*IE 9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
    right:16px;
}


/*pagination num within the arrow buttons*/
#slider-prev:hover, #slider-next:hover {width:80px;background-color:rgba(0,0,0,0.5);}
#slider-prev div {margin-right:8px;white-space:nowrap;opacity:0;float:right;}
#slider-next div {margin-left:8px;white-space:nowrap;opacity:0;float:left;}
#slider-prev:hover div, #slider-next:hover div {opacity:1;}


/*------ pager(nav bullets) ------*/      
/* The pager id should be: slider id + "-pager" */
#slider-pager { display:none;}   

#slider-prev, #slider-next, #slider-pause-play
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}


/*Responsive settings*/

@media only screen and (max-width:1050px){
    
    #slider-prev {
        left:0;
    }

    #slider-next {
        right:0;
    }
}

@media only screen and (max-width:600px){

    #slider-prev, #slider-next, #slider-pager {
        display:none;
    }

    
    #slider li .cap1 {
        font-size:20px;
    }
}

