
:root {
  --black: #3a3a3a;
  --white: #fff;
  --green: #49b293;
}

* {
  margin: 0;
  padding: 0;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
	background-color: transparent;
	color: black;
  }
  .topnav img:hover {
	transform: scale(1.5);
  }

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

#braso {
  width: 3em;
  float: right;
  margin-right: 70px;
  vertical-align: middle;
  display: flex;
}

.home-bar {
  width: 100%;
  overflow: hidden;
  font-size: 1em;
  position: fixed;
  z-index: 2;
  padding-top: 10px;
  opacity: 0.8;
}

.home-black,
.home-hover-black:hover {
  color: #000;
  background-color: #DAE8FC;
}

.home-bar::before,
.home-bar:after,
.home-container:before,
.home-container:after,
.home-row-padding:before,
.home-row-padding:after {
  content: "";
  display: table;
  clear: both;
}

.home-bar .home-button {
  background-color: inherit;
  color: inherit;
  white-space: normal;
}

.home-bar .home-bar-item {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  outline: none;
  display: block;
}
/* navigation ====================== */


img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 50px 0;
  color: var(--black);
  font: 1rem/1.3 sans-serif;
}

.author-archive {
  padding-top: 3rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

h1 a {
  transition: all 0.1s;
}

h1 a:hover {
  background: var(--green);
  color: var(--white);
}

input[type="radio"] {
  position: absolute;
  left: -9999px;
}

body {
  background-size: cover;
  background-color: beige;
}


@keyframes changeBckg {
  0% {background-image: url("../images/m6.jpeg"); }
  25% {background-image: url("../images/m2.jpeg"); }
  50% {background-image: url("../images/m3.jpeg"); }
  75% {background-image: url("../images/m1.jpeg"); }
  100% {background-image: url("../images/m5.jpeg"); }
}

.letterAnimation {
animation: changeBckg 16s ease infinite;
}


/* FILTERS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.filters {
  text-align: center;
  margin-bottom: 2rem;
}

.filters * {
  display: inline-block;
}

.filters label {
  padding: 0.5rem 1rem;
  margin-bottom: 0.25rem;
  border-radius: 2rem;
  min-width: 50px;
  line-height: normal;
  cursor: pointer;
  transition: all 0.1s;
}

.filters label:hover {
  background: var(--green);
  color: var(--white);
}


/* FILTERED ELEMENTS (POSTS)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.posts {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
}

.posts .post {
  background: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.posts .post-title {
  font-size: 1.3rem;
}

.posts .post-title:hover {
  text-decoration: none;
}

.posts figcaption {
  padding: 1rem;
}

.posts .post-categories {
  margin-bottom: 0.75rem;
  font-size: 0.75rem;
}

.posts .post-categories * {
  display: inline-block;
}

.posts .post-categories li {
  margin-bottom: 0.2rem;
}

.posts .post-categories a {
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  border: 1px solid;
  line-height: normal;
  transition: all 0.1s;
}

.posts .post-categories a:hover {
  background: var(--green);
  color: var(--white);
}

img:hover {
  cursor: pointer;
}


/* FILTERING RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[value="All"]:checked ~ .filters [for="All"],
[value="Purse/Wallets"]:checked ~ .filters [for="Purse/Wallets"],
[value="Keyholder"]:checked ~ .filters [for="Keyholder"],
[value="Cord-Clips"]:checked ~ .filters [for="Cord-Clips"],
[value="Luggage"]:checked ~ .filters [for="Luggage"],
[value="Bookmark"]:checked ~ .filters [for="Bookmark"],
[value="fullPage.js"]:checked ~ .filters [for="fullPage.js"] {
  background: var(--green);
  color: var(--white);
}

[value="All"]:checked ~ .posts [data-category] {
  display: block;
}

[value="Purse/Wallets"]:checked ~ .posts .post:not([data-category~="Purse/Wallets"]),
[value="Keyholder"]:checked ~ .posts .post:not([data-category~="Keyholder"]),
[value="Cord-Clips"]:checked ~ .posts .post:not([data-category~="Cord-Clips"]),
[value="Luggage"]:checked ~ .posts .post:not([data-category~="Luggage"]),
[value="Bookmark"]:checked ~ .posts .post:not([data-category~="Bookmark"]),
[value="fullPage.js"]:checked ~ .posts .post:not([data-category~="fullPage.js"]) {
  display: none;
}

/* MQ
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 900px) {
  .posts {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 650px) {
  html {
    font-size: 14px;
  }

  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
  .author-archive {
    padding: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  #braso {
    position: relative;
    margin: auto;
    width: 3em;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: fixed;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  #braso {
    position: absolute;
    left: 40%;
    top: 0px;
    padding-top: 0.2em;
  }
}

