* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', arial, sans-serif;
}

body {
	overflow-x: hidden;
	min-height: 100%;
	/* background-image: linear-gradient(rgba(219, 230, 246, 0.6), rgba(136, 127, 125, 0.7)),
		url(../images/weddings.jpg); */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	background-color: rgba(182, 89, 22, 0.712);
}

img {
	margin-bottom: -5;
	border-style: none;
	width: 100%;
	/* display: block; */
  }

.topnav {
	overflow: hidden;
	background-color: #333;
  }
  
  .topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  .topnav a:hover {
	background-color: transparent;
	color: black;
  }
  .topnav img:hover {
	transform: scale(1.5);
  }
  
  .topnav a.active {
	background-color: #4CAF50;
	color: white;
  }
  
  .topnav .icon {
	display: none;
  }
  
  #braso {
	width: 5em;
	float: right;
	margin-right: 70px;
	vertical-align: middle;
	display: flex;
  }
  
  .home-bar {
	width: 100%;
	overflow: hidden;
	font-size: 1em;
	position: fixed;
	z-index: 2;
	padding-top: 10px;
	opacity: 0.8;
  }
  
  .home-black,
  .home-hover-black:hover {
	color: #000;
	background-color: #DAE8FC;
  }
  
  .home-bar::before,
  .home-bar:after,
  .home-container:before,
  .home-container:after,
  .home-row-padding:before,
  .home-row-padding:after {
	content: "";
	display: table;
	clear: both;
  }
  
  .home-bar .home-button {
	background-color: inherit;
	color: inherit;
	white-space: normal;
  }
  
  .home-bar .home-bar-item {
	padding: 8px 16px;
	float: left;
	width: auto;
	border: none;
	outline: none;
	display: block;
  }
  

ul {
	list-style: none;
	margin: 0px;
}

p {
	color: white;
	font-size: 13px;
	line-height: 24px;
}

#pagetitulo {
	color: black;
	font-weight: lighter;
	font-family: 'Architects Daughter', cursive;
	font-size: 2em;
}

#hear {
	padding: 0px;
	position: absolute;
	left: 0%;
	top: 18%;
}



/*Footer*/
footer {
	padding-top: 35px;
}

.fmenu a {
	font-size: 12px;
	text-align: center;
}

.footer-text,
.footer-alt {
	font-size: 12px;
}

.footer-copyright,
footer h6 {
	font-size: 11px;
}

.footer-title {
	font-size: 15px;
}

footer {
	background-color: #333333;
	/* background-image: url("../images/nightbg.jpeg"); */
	background-repeat: repeat;
	background-position: cover ;
	color: #EAEAED;
	padding-top: 25px;
	position: absolute;
	width: 100%;
}

.fmenu a {
	background-color: transparent;
	color: #EAEAED;
	display: block;

	font-size: 13px;
	text-decoration: none;
	letter-spacing: .2em;
}

.fmenu a:hover {
	color: #171717;
	background-color: #EAEAED;
	font-weight: bold;
}

hr {
	border: .5px solid #EAEAED;
}

footer a {
	color: #EAEAED;
}

.footer-copyright {
	font-size: 13px;

}

.footer-title {
	text-align: center;

	font-size: 17px;
}

.footer-text {

	font-size: 12px;
}

.footer-alt {

	text-transform: uppercase;
	letter-spacing: 0.3em;
	font-size: 14px;
}

footer h6 {
	font-size: 12px;
}

/*Socials*/
.social a {
	font-size: 2em;
	padding: 15px;
}

.fa-facebook {
	color: #3B5998;
}

.fa-twitter {
	color: #00ACED;
}

.fa-instagram {
	color: #517FA4;
}

.fa-youtube {
	color: #BB0000;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-youtube:hover {
	color: #fff;
}

#map:hover {

	color: #fff;
	filter: contrast(100%);
	transition: 1s;
}

#map {
	filter: contrast(30%);
}

section.page-heading {
	padding: 80px 0px;
	background-image: 
	url(../images/3.jpg);
	background-size: cover;
	background-position: center;
	background-position-x: 1em;
	text-align: center;
}

.contact-info {
	background-color: rgba(87, 80, 78, 0.856);
	padding: 5%;
	word-spacing: normal;
}


section.contact-us {
	margin-top: 100px;
	margin-bottom: 60px;
}

.contact-us .section-heading h2 {
	text-align: left;
	margin-top: 0px;
	margin-bottom: 60px;
	font-size: 2em;
	font-weight: 700;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: white;
}

.contact-us p {
	margin-top: -5px;
	color: white;
	font-size: 1.2em;
}

.contact-us em {
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	color: black;
}

.contact-us input {
	border-radius: 3px;
	padding-left: 15px;
	font-size: 13px;
	color:black;
	background-color: #f4f4f4;
	outline: none !important;
	border: none;
	box-shadow: none;
	line-height: 44px;
	height: 44px;
	width: 100%;
	margin-bottom: 30px;
}

.contact-us textarea {
	border-radius: 3px;
	padding-left: 15px;
	padding-top: 10px;
	font-size: 13px;
	color: #4a4a4a;
	background-color: #f4f4f4;
	outline: none;
	border: none;
	box-shadow: none;
	height: 122px;
	max-height: 220px;
	width: 100%;
	margin-bottom: 25px;
}

.contact-us button {
	width: 100%;
	display: inline-block;
	background-color: #f2745f;
	color: #fff !important;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 500;
	padding: 12px 20px;
	border-radius: 3px;
	text-decoration: none;
	letter-spacing: 0.5px;
}

section.map {
	margin-bottom: 0px;
}

section.map #map {
	height: 450px;
}

.locate a {
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
#social {
	text-align: center;
}

/*mobile*/

@media only screen and (max-width: 360px) {

	.contact-us .section-heading h2 {
		text-align: left;
		margin-top: 60px;
		margin-bottom: 60px;
		font-size: 2em;
		font-weight: 700;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		color: white;
	}

	.locate {
		text-align: center;
		margin: 10px 0px;
	}
}

@media (min-width: 993px) {

	.home-col.l4,
	.home-third {
	  width: 33.33333%;
	}
  }
  @media (min-width: 601px) {
  
	.home-col.m4,
	.home-third {
	  width: 33.33333%;
	}
  }
  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
  @media screen and (max-width: 600px) {
	.topnav a:not(:first-child) {display: none;}
	.topnav a.icon {
	  float: right;
	  display: block;
	}
	#braso {
	  position: relative;
	  margin: auto;
	}

	.contact-info {
		background-color: rgba(87, 80, 78, 0.856);
		padding: 5%;
		word-spacing: normal;
	}
	
	
	section.contact-us {
		margin-top: 100px;
		margin-bottom: 60px;
	}
	
	.contact-us .section-heading h2 {
		text-align: left;
		margin-top: 0px;
		margin-bottom: 40px;
		font-size: 1.2em;
		font-weight: 700;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		color: white;
	}
	
	.contact-us p {
		margin-top: -5px;
		color: white;
		font-size: 0.8em;
	}
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive a.icon {
	  position: absolute;
	  right: 0;
	  top: 0;
	}
	.topnav.responsive a {
	  float: none;
	  display: block;
	  text-align: left;
	}
	#braso {
	  position: absolute;
	  left: 40%;
	  top: 0px;
	  padding-top: 0.2em;
	}

	#pagetitulo {
		color: black;
		font-weight: lighter;
		font-family: 'Architects Daughter', cursive;
		font-size: 0.7em;
		position: absolute;
		left: 2%
	}

	section.page-heading {
		padding: 80px 0px;
		background-image: 
		url(../images/3.jpg);
		background-size: cover;
		background-position: center;
		text-align: center;
	}
	#hear {
		padding: 0px;
		position: absolute;
		left: 0.5%;
		top: 20%;
	}
  }
/* IPAD NA MO PORTRAIT */

  @media screen and (min-width: 768px) and (max-width: 1024px) {

	#pagetitulo {
		color: black;
		font-weight: lighter;
		font-family: 'Architects Daughter', cursive;
		font-size: 1.5em;
		position: absolute;
		left: 10%;
		bottom: 35px;
	}
	#hear {
		padding: 0px;
		position: absolute;
		left: -1%;
		top: 20%;
	}

	section.contact-us {
		margin-top: 100px;
		margin-bottom: 60px;
	}
	
	.contact-us .section-heading h2 {
		text-align: left;
		margin-top: 0px;
		margin-bottom: 40px;
		font-size: 1.2em;
		font-weight: 700;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		color: white;
	}
	
	.contact-us p {
		margin-top: -5px;
		color: white;
		font-size: 1em;
	}
 }

 @media screen and (min-width: 1024px) and (max-width: 1440px) {

	#hear {
		padding: 0px;
		position: absolute;
		left: -1%;
		top: 15%;
	}

	#pagetitulo {
		color: black;
		font-weight: lighter;
		font-family: 'Architects Daughter', cursive;
		font-size: 2em;
 }