* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(rgba(219, 230, 246, 0.8), rgba(197, 121, 109, 0.7)),
    url(../images/products.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Poppins', sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
	background-color: transparent;
	color: black;
  }
  .topnav img:hover {
	transform: scale(1.5);
  }

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

#braso {
  width: 5em;
  float: right;
  margin-right: 70px;
  vertical-align: middle;
  display: flex;
}

.home-bar {
  width: 100%;
  overflow: hidden;
  font-size: 1em;
  position: fixed;
  z-index: 2;
  padding-top: 10px;
  opacity: 0.8;
}

.home-black,
.home-hover-black:hover {
  color: #000;
  background-color: #DAE8FC;
}

.home-bar::before,
.home-bar:after,
.home-container:before,
.home-container:after,
.home-row-padding:before,
.home-row-padding:after {
  content: "";
  display: table;
  clear: both;
}

.home-bar .home-button {
  background-color: inherit;
  color: inherit;
  white-space: normal;
}

.home-bar .home-bar-item {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  outline: none;
  display: block;
}

section {
  display: block;
  box-sizing: inherit;
}

img {
  margin-bottom: -5;
  border-style: none;
  width: 100%;
  /* display: block; */
}

.home-container {
  padding: 0.01em 16px;
}

.home-center {
  text-align: center;
}

.home-content {
  margin: auto;
}

.home-wide {
  letter-spacing: 4px;
}

h2 {
  font-weight: 400;
  margin: 10px 0;
  font-size: 30px;
}

.home-opacity {
  opacity: 0.60;
}

.home-justify {
  text-align: justify;
  word-spacing: 0.2em;
}

.home-light-grey {
  color: #000;
  background-color: #f1f1f1;
}

.home-row-padding>.home-third {
  padding: 0 8px;
}

.home-third {
  float: left;
}

article {
  display: block;
}

#bgs {
  background-image: inherit;
}

section>p {
  font-weight: bold;
}

.mySlides {
  opacity: 0.8;
  transition: .5 ease;
  width: 100%;
  height: 100%;
}

.mySlides:hover {
  opacity: 1;
}


/* ============================================================ */
/*Footer*/
footer {
  background-color: #333333;
  /* background-image: url("../images/nightbg.jpeg"); */
  background-position: top;
  color: #EAEAED;
  padding-top: 25px;
  width: 100%;
}

.fmenu a {
  text-align: left;
  background-color: transparent;
  color: #EAEAED;
  display: block;

  font-size: 13px;
  text-decoration: none;
  letter-spacing: .2em;
}

.fmenu a:hover {
  color: #171717;
  background-color: #EAEAED;
  font-weight: bold;
}

hr {
  border: .5px solid #EAEAED;
}

footer a {
  color: #EAEAED;
}

.footer-copyright {
  font-size: 13px;

}

.footer-title {
  text-align: center;

  font-size: 17px;
}

.footer-text {

  font-size: 12px;
}

.footer-alt {

  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size: 14px;
}

footer h6 {
  font-size: 12px;
}

/*Socials*/
.social a {
  font-size: 2em;
  padding: 15px;
}

.fa-facebook {
  color: #3B5998;
}

.fa-twitter {
  color: #00ACED;
}

.fa-instagram {
  color: #517FA4;
}

.fa-youtube {
  color: #BB0000;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-youtube:hover {
  color: #fff;
}

.slideshow-container {
  width: 100%;
  height: 50vh;
  margin-bottom: 25px;
  border: 1px solid black;

}

#img-ht {
  height: 50vh;
}

footer {
  padding-top: 35px;
}

.fmenu a {
  font-size: 12px;
  text-align: center;
}

.footer-text,
.footer-alt {
  font-size: 12px;
}

.footer-copyright,
footer h6 {
  font-size: 11px;
}

.footer-title {
  font-size: 15px;
}
@media (min-width: 768px) {

  .home-col.l4,
  .home-third {
    width: 33.33333%;
  }

  .home-container {
   max-width:700px
  }
}



@media (min-width: 993px) {

  .home-col.l4,
  .home-third {
    width: 33.33333%;
  }
  .home-container {
    max-width:900px
   }
}

@media (min-width: 601px) {

  .home-col.m4,
  .home-third {
    width: 33.33333%;
  }

}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  #braso {
    position: relative;
    margin: auto;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  #braso {
    position: absolute;
    left: 40%;
    top: 0px;
    padding-top: 0.2em;
  }
}

@media (min-width: 1025px) {

  .home-col.l4,
  .home-third {
    width: 33.33333%;
  }
  .home-container {
    max-width:90%
   }

   .mySlides {
    opacity: 0.8;
    transition: .5 ease;
    width: 100%;
    height: 100%;
  }
}