*, ::before, ::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header {
	background-color: transparent;
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
}

img {
	height: 100px;
	width: 100px;
	transition: transform 0.2s;
}

img:hover {
	transform: scale(1.1); 
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
	overflow: hidden;
}

#wallet, #keychain, #cord-org {
	filter: grayscale(100%);
}
#wallet:hover, #keychain:hover, #cord-org:hover {
	filter: grayscale(0%);
	transition: 1s;
}

#wallet {
	background: url(../images/organizer.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	padding: 0;
}

#keychain {
	background: url(../images/coloredtag.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	padding: 0;
}


#cord-org {
	background: url(../images/cob.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	padding: 0;
}

/* #luggage {
	background: url(../images/bagtag.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	padding: 0;

}

#bookmark {
	background: url(../images/bookworm.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	padding: 0;

} */

.label {
	height: 100%;
	width: 100%; 
	display: block;
	padding-top: 500px;
	text-align: center;
	font-size: 5em;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	color: transparent;
}

#l-wallet:hover {
	background-color: rgba(179, 179, 179,0.50);
	color: rgba(255,255,255,0.9);
	text-decoration: none;
}

#l-key:hover {
	background-color: rgba(0,0,0,0.50);
	color: rgba(250, 250, 250, 0.9);
	text-decoration: none;
}

#l-cord:hover {
	background-color: rgba(108, 142, 191, 0.5);
	color: rgba(255,255,255,0.9);
	text-decoration: none;
}

/* FOr further products */
/* #l-luggage:hover {
	background-color: rgba(234, 0, 255, 0.5);
	color: rgba(255,255,255,0.9);
	font-family: 'Butterfly Kids', cursive;
	text-decoration: none;
}

#l-book:hover {
	background-color: rgba(255, 166, 0, 0.5);
	color: rgba(255,255,255,0.9);
	font-family: 'Butterfly Kids', cursive;
	text-decoration: none;
} */

#brandlogo {
	height: 100px;
	width: 100px;
    color: white

}

.brand-logo {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	position: absolute;
	bottom: 70px;
	right: 39vw;
}

.brand-logo>h1 {
	color: rgba(255,255,255,0.9);
}


/*mobile*/

@media only screen and (max-width: 450px) {

	#wallet {
		background-position: 30% 30%;
		height: 33.33vh;
	}


	#keychain {
		background-position: 30% 30%;
		height: 33.33vh;
	}

	

	#cord-org {
		background-position: 30% 30%;
		height: 33.33vh;
		
	}


	.label {
		padding: 20px;
		padding-top: 45px;
		color: white;
		font-family: 'Montserrat', sans-serif;
		font-size: 3em;
		color: transparent;
	}

	.brand-logo {
		position: absolute;
		bottom: 5vh;
		right: 80vw;
		background-color: gray;
	}

	#brandlogo {
		height: 3em;
		width: 3em;
	}

	.brand-logo>h1 {
		display: none;
	}

	img {
		height: 50px;
		width: 50px;
		color: white
	}
}


/*tablet*/

@media (min-width: 451px) and (max-width: 768px) {

	#wallet {
		background-position: 30% 30%;
		height: 33.33vh;
	}


	#keychain {
		background-position: 30% 30%;
		height: 33.33vh;
	}

	#cord-org {
		background-position: 30% 30%;;
		height: 33.33vh;
		
	}


	.label {
		padding: 20px;
		padding-top: 140px;
		color: rgba(255,255,255,0.5);
		font-family: 'Montserrat', sans-serif;
		color: transparent;
	}

	.brand-logo {
		position: absolute;
		bottom: 5vh;
		right: 85vw;
		background-color: gray;
	}

	#brandlogo {
		height: 3em;
		width: 3em;
	}

	.brand-logo>h1 {
		display: none;
	}
}

/*IPAD PRO*/

@media (min-width: 769px) and (max-width: 1024px) {

	#wallet {
		height: 100vh;
		overflow: hidden;
	}


	#keychain {
		height: 100vh;
		overflow: hidden;
	}

	

	#cord-org {
		height: 100vh;
		overflow: hidden;
	}

	
	.label {
		height: 100%;
		width: 100%; 
		display: block;
		padding-top: 400px;
		text-align: center;
		font-size: 3em;
		font-family: 'Montserrat', sans-serif;
		text-decoration: none;
		color: transparent;
	}

	.brand-logo {
		position: absolute;
		bottom: 5vh;
		right: 85vw;
		background-color: gray;
	}

	#brandlogo {
		height: 3em;
		width: 3em;
	}

	.brand-logo>h1 {
		display: none;
	}
}



